<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block style %} {% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
{% block body %}{% endblock %}

{% block javascripfiles %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block javascrip %} {% endblock %}
</body>
</html>
